@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Passion+One&family=Sen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 85, 75);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.principal {
    width: 100%;
    height: 100vh;

}

header {
    background-color: rgb(17, 56, 55);
    padding-bottom: 10px;
}

h1 {

    font-family: 'Francois One', sans-serif;
    font-size: 2.5em;
    font-weight: 70;
    color: rgb(176, 252, 252);
    text-align: center;
}

.botones-menues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    max-width: 510px;
}

.boton-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000000;
    border: 0;
    border-radius: 15px;
    background-color: rgb(17, 56, 55);
    padding-right: 10px;
    padding-left: 10px;

}

.descargar:hover,
#edicion-imagen:hover,
#edicion-texto:hover,
#edicion-modo:hover {
    cursor: pointer;
    filter: brightness(200%) !important;
}

.icono {
    width: 40px;
    padding-right: 10px;
}

.texto-menu {
    display: inline-block;
    font-family: 'Francois One', sans-serif;
    font-weight: 40;
    font-size: 2em;
    color: rgb(176, 252, 252);
}

.espacio-de-trabajo {
    width: 510px;
    margin: auto;
    margin-top: 10px;
}

.lienzo {
    height: 510px;
    background-color: #77777731;
    align-items: center;
    position: relative;
}

.texto-meme {
    position: absolute;
    width: 510px;
    padding: 12px 8px 12px;
    background-color: black;
    font-family: 'Passion One', sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
}

#arriba {
    top: 0;
}

#abajo {
    bottom: 0;
}

.descargar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Francois One', sans-serif;
    font-weight: 40;
    font-size: 1.5em;
    color: rgb(176, 252, 252);
    margin: auto;
    margin-top: 10px;
    background-color: rgb(17, 56, 55);
}

.panel-editor {
    width: 400px;
    height: auto;
    background-color: rgb(37, 116, 102);
    display: none;
}

.panelOn {
    display: block;
    padding: 25px;
}

.dia {
    filter: invert();
    background-color: rgb(229, 170, 180);
}

.modo_c {
    display: none;
}

input[type="file"] {
    display: none;
}

#label {
    padding-top: 20px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 42%;

}

#image-box,
#imgTag {
    height: 510px;
    width: 510px;
    object-fit: cover;
    overflow: hidden;
}

footer {
    padding-bottom: 10px;
}

.firma {
    text-align: center;
    color: rgb(176, 252, 252);
}

@media (max-width:970px) {
    body {
        width: calc(100vw-17px);
        flex-direction: column;
    }

    h1{
        font-size:2.1em ;
    }

    .principal {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .panel-editor {
        width: 100%;
        height: auto;
    }

    .espacio-de-trabajo,
    .lienzo {
        max-width: 510px;
        max-height: 510px;
    }

    .texto-menu {
        font-size: 1.8em;
    }

    .texto-meme {
        width: 100%;
        text-overflow: ellipsis !important;
        font-size: 30px;
    }

    .descargar{
        font-size: 1.3em;
    }
    
    #imgTag {
        max-width: 510px;
        max-height: 510px;
        object-fit: cover;
    }

    .firma_escritorio {
        display: none!important;
    }
}

@media (max-width:510px) {
    
    h1{
        font-size:1.7em ;
    }

    .texto-menu {
        font-size: 1.3em;
    }

    .descargar{
        font-size: 0.9em;
    }

    .icono{
        width: 30px;
    }

    .espacio-de-trabajo,
    .lienzo {
        max-width: 340px;
        height: 100vw;
    }

    #imgTag {
        width: 100%;
        height: 100vw;
        object-fit: cover;
    }
}
